<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
  ul li {list-style-type: none;}
</style>
</head>
<body>
  <h1>The Goods Page</h1>
  <div>
  <form action="/goods/doSaveObject" method="post">
  <ul>
     <li>name:
     <li><input type="text" name="name">
     <li>remark:
     <li><textarea rows="3" cols="50" name="remark"></textarea>
     <li><input type="submit" value="save">
  </ul>
  </form>
  <hr/>
  <table>
     <!-- 表头部分 -->
     <thead>
        <tr>
           <th>id</th>
           <th>name</th>
           <th>remark</th>
           <th>createdTime</th>
           <th>operation</th>
        </tr>
     </thead>
     <!-- 表体部分 -->
     <tbody>
         <!-- 借助thymeleaf模板引擎中的属性获取对象中的值并进行呈现 -->
        <tr th:each="g:${list}">
           <td th:text="${g.id}"></td>
           <td th:text="${g.name}"></td>
           <td th:text="${g.remark}"></td>
           <td th:text="${#dates.format(g.createdTime, 'yyyy/MM/dd HH:mm')}"></td>
           <td><a th:href="@{/goods/doDeleteById(id=${g.id})}">delete</a></td>
        </tr>
     </tbody>
  </table>
  </div>
</body>
</html>